@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

.about {
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  &__content ~ p,
  Img {
    display: inline-block;
    padding: 2rem 0;
  }
}
.profile--photo {
  width: 20rem;
  height: 100%;
  border-radius: 50%;
  @include media("<=laptop") {
    width: 25rem;
  }
}
