@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

.about {
  &__flex {
    display: flex;
    justify-items: center;
    align-items: start;
    flex-wrap: wrap-reverse;
  }

  &__content {
    flex: 4;
  }
  &__profile {
    &--photo {
      width: 20rem;
      height: 100%;
      border-radius: 50%;
      @include media("<=laptop") {
        width: 25rem;
      }
    }
  }
}
