@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/breakpoints";

.footer {
   &--name {
      text-align: center;
   }

   @include media(">=tablet") {
      &__socials {
         display: none;
      }
      &__email {
         display: none;
      }
   }

   @include media("<=tablet") {
      &__grid {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-bottom: 3rem;
      }

      &__email {
         margin-right: 2rem;
      }

      &__socials {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-gap: 2rem;
         align-items: center;
      }
   }
}
